<!DOCTYPE html>
<html>
<head>
    <title>Tambah Mahasiswa</title>
</head>
<body>
    <h1>Tambah Mahasiswa</h1>
    <form method="POST">
        <label for="nama">Nama:</label>
        <input type="text" id="nama" name="nama" required><br><br>
        
        <label for="nim">NIM:</label>
        <input type="text" id="nim" name="nim" required><br><br>
        
        <input type="submit" value="Tambah Mahasiswa">
    </form>
    <br>
    <a href="{{ url_for('mahasiswa_index') }}">Kembali ke Daftar Mahasiswa</a>
</body>
</html>
